<footer class="footer">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row hidden-xs">
            <a id="shield-link" href="https://internetdefenseleague.org">
                <img class="img-responsive center-block" src="/assets/img/shield_badge.png" alt="The Internet Defense League"/>
            </a>
        </div>
        <div class="row text-center">
            <p>Gustaf is the creator of this website</p>
            <p>Please see my<a id="termslink" href=""> terms of use</a> and<a id="privacylink" href=""> privacy policy.</a></p>
            <p>This is a website for demonstration purposes at<a href="http://www.chalmers.se/" class="info"> Chalmers Uni.</a>
                and<a href="http://www.gu.se/" class="info"> Gothenburg Uni.</a></p>
        </div>

    </div>
    <div id="foot-modal" tabindex="-1" role="dialog" aria-labelledby="foot-modal-label" aria-hidden="true" class="modal fade">
        <div class="modal-dialog">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-sm-10 col-sm-offset-1">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h4 id="foot-modal-label" class="modal-title"></h4>
                            </div>
                            <div class="modal-body">
                                <div class="dynamicfoot"></div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" data-dismiss="modal" class="btn btn-default">Close</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="policy" class="hidden">
        <h2>Information I may collect:</h2>
        <p>
            I have developed this short info in order for you to understand how I collect, use,
            communicate and disclose and make use of personal information.
            The following outlines the privacy policy.
        </p>
        <p>
            When you use this services or view content, I do not store anything
            except the IP address for the incoming request if you are a guest.
        </p>
        <p>
            Personal information will only be retained when you sign up for an account for full access and that
            information is only needed for gaining access to portals, backdoors etc and we use the reference system
            here. I.e there is no way to sign up unless you are being referred by an already trusted member by him
            giving you a unique temporary sign up token.
        </p>
        <p>
            Passwords are saved hashed using BCrypt.
        </p>
    </div>
    <div id="terms" class="hidden">
        <h2>Modal action</h2>
        <p>For demonstration purposes only.</p>
    </div>
</footer>