<div id="gtown-scala-description" class="animated">
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.playframework.com/">
            <div class="logo"><img id="play-framework" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://letsencrypt.org/">
            <div class="logo"><img id="letsencrypt" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://angularjs.org/">
            <div class="logo"><img id="angular" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.elastic.co/products/logstash">
            <div class="logo"><img id="logstash" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://cockpit-project.org/">
            <div class="logo"><img id="cockpit" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://karma-runner.github.io/1.0/index.html">
            <div class="logo"><img id="karma" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
            <div class="logo"><img id="html5-css3-jquery-bootstrap" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://chaijs.com/">
            <div class="logo"><img id="chai-sinon" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://jenkins.io/">
            <div class="logo"><img id="jenkins" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.nginx.com/">
            <div class="logo"><img id="nginx" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://mariadb.org/">
            <div class="logo"><img id="mariadb" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.docker.com/">
            <div class="logo"><img id="docker" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://netty.io/">
            <div class="logo"><img id="netty" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://slick.lightbend.com/">
            <div class="logo"><img id="slick" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.npmjs.com/">
            <div class="logo"><img id="npm" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.elastic.co/products/elasticsearch">
            <div class="logo"><img id="elastic" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.elastic.co/products/kibana">
            <div class="logo"><img id="kibana" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://aws.amazon.com/">
            <div class="logo"><img id="amazon" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.projectatomic.io/">
            <div class="logo"><img id="atomic" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://www.scala-lang.org/">
            <div class="logo"><img id="scala" src="/assets/img/logos-sprite2.png" class="sprite2"/></div></a>
        </div>
    </div>
    <div id="basic-website-info">
        <div class="row text-center">
            <div class="col-md-12">
                <h2><b>B</b>asic<b> W</b>ebsite<b> I</b>nformation</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>Email:</dt>
                        <dd><a id="contact-email" href="/contact">gustaf[at]linux.com</a></dd>
                        <dt>Security:</dt>
                        <dd><a href="https://letsencrypt.org/">Lets Encrypt!</a></dd>
                        <dt>DNS:</dt>
                        <dd>
                            <a href="https://namecheap.com/">Namecheap,</a>
                            <a href="http://dnssec.net/"> DNSSEC.</a>
                        </dd>
                        <dt>Style sheets:</dt>
                        <dd>
                            <a href="http://getbootstrap.com/">Bootstrap & custom.</a>
                            <a href="https://en.wikipedia.org/wiki/Less_(stylesheet_language)"> Less.</a>
                            <a href="http://sass-lang.com/"> Sass.</a>
                        </dd>
                        <dt>Server side:</dt>
                        <dd>
                            <a href="https://www.playframework.com/">Play framework 2.5, MVC, Akka.</a>
                            <a href="http://slick.lightbend.com/"> Play-slick.</a>
                            <a href="https://mariadb.org/"> MariaDB.</a>
                            <a href="https://www.elastic.co/"> ELK.</a>
                            <a href="http://www.scala-lang.org/"> Scala.</a>
                            <a href="https://en.wikipedia.org/wiki/Npm_(software)"> Npm.</a>
                            <a href="https://en.wikipedia.org/wiki/Grunt_(software)"> Grunt.</a>
                            <a href="https://docker.com/"> Docker.</a>
                            <a href="http://seleniumhq.org/"> Selenium.</a>
                            <a href="https://github.com/FluentLenium/FluentLenium"> Fluentlenium.</a>
                        </dd>
                        <dt>Java:</dt>
                        <dd>Oracle JDK 1.8.0_112</dd>

                    </dl>
                </div>
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>Webserver:</dt>
                        <dd>
                            <a href="http://netty.io/">Netty.</a>
                            <a href="https://www.nginx.com/"> Nginx.</a>
                            <a href="https://cloudflare.com"> Cloudflare.</a>
                            <a href="https://aws.amazon.com/"> AWS.</a>
                        </dd>
                        <dt>Client side:</dt>
                        <dd>
                        Javascript<a href="https://angularjs.org/"> AngularJS.</a>
                            <a href="https://mochajs.org/"> MochaJS.</a>
                            <a href="http://chaijs.com/"> ChaiJS.</a>
                            <a href="http://sinonjs.org/"> SinonJS.</a>
                            <a href="https://karma-runner.github.io/1.0/index.html"> Karma.</a>
                    </dd>
                        <dt>Firewall:</dt>
                        <dd>
                            <a href="http://netfilter.org/projects/iptables/">IPtables</a> with
                            <a href="http://xtables-addons.sourceforge.net/"> Xtables</a> and
                            <a href="https://www.maxmind.com/en/geoip2-country-database"> GeoIP</a>
                        </dd>
                        <dt>Connection speed:</dt>
                        <dd>100/10 mbps (Down/Up)</dd>
                        <dt>Server OS:</dt>
                        <dd>
                            <a href="https://www.projectatomic.io/">Project Atomic</a> with
                            <a href="https://www.docker.com/"> docker containers.</a>
                        </dd>
                        <dt>Authentication:</dt>
                        <dd>
                            <a href="http://deadbolt.ws/">Deadbolt &</a>
                            <a href="https://en.wikipedia.org/wiki/Bcrypt/"> BCrypt.</a>
                        </dd>
                        <dt>Miscellaneous:</dt>
                        <dd>
                            <a href="https://snort.org/">Snort.</a>
                            <a href="http://selinuxproject.org/page/Main_Page"> SELinux.</a>
                            <a href="https://grsecurity.net/"> Grsecurity.</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
