<div id="gtown-java-description" class="animated">
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://stormpath.com/">
            <div class="logo"><img id="stormpath" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://letsencrypt.org/">
            <div class="logo"><img id="letsencrypt" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.mongodb.org/">
            <div class="logo"><img id="mongodb" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://mockito.org/">
            <div class="logo"><img id="mockito" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://sammyjs.org/">
            <div class="logo"><img id="sammyjs" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.cloudflare.com">
            <div class="logo"><img id="cloudflare" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/HTML/HTML5">
            <div class="logo"><img id="html5-css3-jquery-bootstrap" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.kernel.org/">
            <div class="logo"><img id="os" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://projects.spring.io/spring-boot/">
            <div class="logo"><img id="springboot" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://junit.org/">
            <div class="logo"><img id="junit" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://jade-lang.com/">
            <div class="logo"><img id="jade" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.docker.com/">
            <div class="logo"><img id="docker" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://gruntjs.com/">
            <div class="logo"><img id="grunt" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://jasmine.github.io">
            <div class="logo"><img id="jasmine" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://www.npmjs.com/">
            <div class="logo"><img id="npm" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://phantomjs.org/">
            <div class="logo"><img id="phantomjs" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://gradle.org/">
            <div class="logo"><img id="gradle" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://www.seleniumhq.org/">
            <div class="logo"><img id="selenium" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="https://http2.github.io/">
            <div class="logo"><img id="http2" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
        <div class="col-sm-3 col-xs-6 text-center"><a href="http://undertow.io/">
            <div class="logo"><img id="undertow" src="/assets/img/logos-sprite.png" class="sprite"/></div></a>
        </div>
    </div>
    <div id="basic-website-info">
        <div class="row text-center">
            <div class="col-md-12">
                <h2><b>B</b>asic<b> W</b>ebsite<b> I</b>nformation</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1">
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>Email:</dt>
                        <dd><a id="contact-email" href="/contact">gustaf[at]linux.com</a></dd>
                        <dt>Security:</dt>
                        <dd><a href="https://letsencrypt.org/">Lets Encrypt!</a></dd>
                        <dt>DNS:</dt>
                        <dd><a href="https://namecheap.com/">Namecheap,</a> <a href="http://dnssec.net/"> DNSSEC.</a></dd>
                        <dt>Style sheets:</dt>
                        <dd>
                            <a href="http://getbootstrap.com/">Bootstrap & custom.</a>
                            <a href="https://en.wikipedia.org/wiki/Less_(stylesheet_language)"> Less.</a>
                            <a href="http://sass-lang.com/"> Sass.</a>
                        </dd>
                        <dt>Server side:</dt>
                        <dd>
                            <a href="https://en.wikipedia.org/wiki/Spring_Framework">Spring Boot, MVC, actuator, data, session.</a>
                            <a href="https://en.wikipedia.org/wiki/Neo4j"> Neo4j.</a>
                            <a href="https://en.wikipedia.org/wiki/MongoDB"> MongoDB.</a>
                            <a href="http://slf4j.org/"> SLF4J.</a>
                            <a href="https://en.wikipedia.org/wiki/JADE_(programming_language)"> Jade.</a>
                            <a href="https://github.com/neuland/jade4j"> Jade4J.</a>
                            <a href="http://thymeleaf.org/"> Thymeleaf.</a>
                            <a href="https://en.wikipedia.org/wiki/Gradle"> Gradle.</a>
                            <a href="https://en.wikipedia.org/wiki/Npm_(software)"> Npm.</a>
                            <a href="https://en.wikipedia.org/wiki/Grunt_(software)"> Grunt.</a>
                            <a href="https://docker.com/"> Docker.</a>
                            <a href="https://cucumber.io/"> Cucumber.</a>
                            <a href="http://seleniumhq.org/"> Selenium.</a>
                            <a href="https://github.com/FluentLenium/FluentLenium"> Fluentlenium.</a>
                        </dd>
                        <dt>Java:</dt>
                        <dd>OpenJDK 1.8.0_92</dd>

                    </dl>
                </div>
                <div class="col-lg-6">
                    <dl class="dl-horizontal">
                        <dt>Webserver:</dt>
                        <dd>
                            <a href="http://undertow.io/">Undertow.</a>
                            <a href="https://http2.github.io/"> HTTP/2.</a>
                            <a href="https://cloudflare.com"> Cloudflare.</a>
                            <a href="https://aws.amazon.com/"> AWS.</a>
                        </dd>
                        <dt>Client side:</dt>
                        <dd>
                        Javascript<a href="http://jquery.com/"> JQuery.</a>
                            <a href="https://jasmine.github.io"> Jasmine.</a>
                            <a href="https://github.com/gotwarlost/istanbul"> Istanbul.</a>
                            <a href="http://sammyjs.org/"> SammyJS.</a>
                            <a href="https://jquerymobile.com"> JQueryMobile.</a>
                    </dd>
                        <dt>Firewall:</dt>
                        <dd>
                            <a href="http://netfilter.org/projects/iptables/">IPtables with</a>
                            <a href="http://xtables-addons.sourceforge.net/"> Xtables modules</a>
                        </dd>
                        <dt>Connection speed:</dt>
                        <dd>100/10 mbps (Down/Up)</dd>
                        <dt>Server OS:</dt>
                        <dd>
                            <a href="https://wiki.gentoo.org/wiki/Hardened_Gentoo">Gentoo hardened &</a>
                            <a href="https://getfedora.org/"> Fedora GNU|Linux.</a>
                        </dd>
                        <dt>Authentication:</dt>
                        <dd>
                            <a href="http://projects.spring.io/spring-security/">Spring Security &</a>
                            <a href="https://stormpath.com/"> StormPath.</a>
                        </dd>
                        <dt>Miscellaneous:</dt>
                        <dd>
                            <a href="https://snort.org/">Snort.</a>
                            <a href="http://selinuxproject.org/page/Main_Page"> SELinux.</a>
                            <a href="https://grsecurity.net/"> Grsecurity.</a>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>