@(title: String)(css: Html)

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="robots" content="noindex, nofollow">
    <meta name="googlebot" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1">
    <meta name="description" content="Presentation website for the developer Gustaf">
    <meta name="author" content="Gustaf, gustaf[at]protonmail.ch">
    <title>@title</title>
    <link rel="shortcut icon" href="@routes.Assets.versioned("img/favicon.ico")">
    <link rel="stylesheet" href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")">
    @css
    <script src="@routes.Assets.versioned("lib/html5shiv.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/respond.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")" type="text/javascript"></script>
    <script src="@routes.Assets.versioned("lib/modernizr/modernizr.min.js")" type="text/javascript"></script>
</head>