@(isProd: Boolean)
<div id="intro" class="section">
    <a class="curl hidden-xs" href="https://bitbucket.org/Gust4f/gtown-scala"></a>
    <a class="reactive-ribbon hidden-xs" href="http://www.reactivemanifesto.org/">
        <img style="border: 0; position: fixed; right: 0; top:0; z-index: 9000" src="@routes.Assets.versioned("img/we-are-reactive-black-right.png")">
    </a>
    <div class="container-fluid" style="height: inherit;">
        @if(!isProd) {
            <div class="row development-in-progress">
                <div class="col-sm-4 col-sm-offset-4">
                    <svg class="banner" viewBox="0 0 1320 300">

                            <!-- Symbol -->
                        <symbol id="s-text">
                            <text text-anchor="middle"
                            x="50%" y="70%" dy="5px">
                                GTown
                            </text>
                        </symbol>

                            <!-- Duplicate symbols -->
                        <use xlink:href="#s-text" class="text"
                        ></use>
                        <use xlink:href="#s-text" class="text"
                        ></use>
                        <use xlink:href="#s-text" class="text"
                        ></use>
                        <use xlink:href="#s-text" class="text"
                        ></use>
                        <use xlink:href="#s-text" class="text"
                        ></use>

                    </svg>
                    <div class="alert alert-info text-center hidden-xs">
                        <i class="glyphicon glyphicon-camera animated flash flashing-camera"></i>
                        <strong>Live development in progress</strong>
                    </div>
                </div>
            </div>
        } else {
            <div class="row do-not-track">
                <div class="col-sm-4 col-sm-offset-4 col-lg-8 col-lg-offset-2 text-center">
                    <svg class="banner" viewBox="0 0 1320 300">

                            <!-- Symbol -->
                        <symbol id="s-text">
                            <text text-anchor="middle"
                            x="50%" y="70%" dy="5px">
                                GTown
                            </text>
                        </symbol>

                            <!-- Duplicate symbols -->
                        <use xlink:href="#s-text" class="text"
                        ></use>
                        <use xlink:href="#s-text" class="text"
                        ></use>
                        <use xlink:href="#s-text" class="text"
                        ></use>
                        <use xlink:href="#s-text" class="text"
                        ></use>
                        <use xlink:href="#s-text" class="text"
                        ></use>

                    </svg>
                    <a class="hidden-xs" href="http://donttrack.us/">
                        <img class="img-responsive center-block" src="@routes.Assets.versioned("img/dont-track-us.png")">
                    </a>
                </div>
            </div>
        }
        <div class="term-container">
            <div id="term"></div>
        </div>
    </div>
    <div class="rabbit">
        <img class="img-responsive" src="@routes.Assets.versioned("img/rabbit.gif")">
    </div>
    <div class="pulse scroll-arrow">
        <a href="#about-section">
            <img src="@routes.Assets.versioned("img/arrow.svg")">
        </a>
    </div>
</div>
