<!-- Inspired to make this by https://github.com/tylergaw/themanfromhollywood -->
<div class="section introvert-presentation-section">
    <div class="play hidden-sm hidden-xs animated">
        <span>
            <i>Play</i>
        </span>
    </div>
    <div class="vignette animated"></div>
    <div class="container-fluid">
        <div class="hidden-lg hidden-md animated">
            <div class="col-sm-10 col-sm-offset-1 text-center screen-size-info">
                <span>I need more room to perform</span>
            </div>
        </div>
        <div class="scenes hidden-xs hidden-sm">
            <div class="scene-1 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0 text-center">
                <p>
                    <span>H</span>
                    <span>e</span>
                    <span>l</span>
                    <span>l</span>
                    <span>o</span>
                </p>
                <p>
                    <span>W</span>
                    <span>o</span>
                    <span>r</span>
                    <span>l</span>
                    <span>d</span>
                </p>
            </div>
            <div class="scene-2 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0 text-center">
                <p class="i-am"><span class="iam-first">I</span> <span class="iam-second">am</span></p>
                <p class="signature"></p>
            </div>
            <div class="scene-3 col-sm-10 col-sm-offset-1 col-md-12 col-md-offset-0">
                <div class="act-1 text-center">
                    <div class="col-h-25">
                        <div class="vertical-center">
                            <span id="act-1-part-1">An</span>
                            <strong id="act-1-part-2">introvert</strong>
                            <span id="act-1-part-3">which</span>
                            <span id="act-1-part-4">means</span>
                        </div>
                    </div>
                    <div class="col-h-25">
                        <div class="vertical-center">
                            <span id="act-1-part-5">that</span>
                            <span id="act-1-part-6">when</span>
                            <span id="act-1-part-7"><b>you</b></span>
                            <span id="act-1-part-8">go</span>
                        </div>
                    </div>
                    <div class="col-h-25">
                        <div class="vertical-center">
                            <div id="act-1-part-9" class="hidden">for</div>
                            <div id="act-1-part-10" class="hidden">a</div>
                            <div id="act-1-part-11" class="hidden">c <div class="coffee-mug"></div> ffee,</div>
                        </div>
                    </div>
                    <div class="col-h-25">
                        <div class="vertical-center">
                            <div id="act-1-part-12" class="hidden">I'm</div>
                            <div id="act-1-part-13" class="hidden">not</div>
                            <div id="act-1-part-14" class="hidden">on the</div>
                            <div id="act-1-part-15" class="hidden">coffee</div>
                            <div id="act-1-part-16" class="hidden">train!</div>
                        </div>
                    </div>
                </div>
                <div class="act-2 text-center">
                    <div class="col-h-33">
                        <div class="vertical-center">
                            <div class="act-2-part-1">I
                            </div><div class="act-2-part-2">'
                        </div><div class="act-2-part-3">m</div>
                            <div class="act-2-part-4">no</div>
                        </div>
                    </div>
                    <div class="col-h-33">
                        <div class="vertical-center">
                            <span class="act-2-part-5">classic</span>
                        </div>
                    </div>
                    <div class="col-h-33">
                        <div class="vertical-center">
                            <span class="act-2-part-6">after work guy</span>
                        </div>
                    </div>
                </div>
                <div class="act-3 text-center">
                    <div class="act-3-container-1">
                        <div class="col-h-25">
                            <div class="vertical-center">
                                <div class="act-3-part-1">I</div>
                                <div class="act-3-part-2">shine</div>
                                <div class="act-3-part-3">in</div>
                                <div class="act-3-part-4">small</div>
                            </div>
                        </div>
                    </div>
                    <div class="act-3-container-2">

                        <div class="col-h-25">
                            <div class="vertical-center">
                                <div class="act-3-part-5">but</div>
                                <div class="act-3-part-6">effective</div>
                                <div class="act-3-part-7">teams</div>
                            </div>
                        </div>
                        <div class="col-h-25">
                            <div class="vertical-center">
                                <div class="act-3-part-8">and</div>
                                <div class="act-3-part-9">like</div>
                            </div>
                        </div>
                        <div class="col-h-25">
                            <div class="vertical-center">
                                <div class="act-3-part-10">
                                    <span>r
                                    </span><span>e
                                </span><span>s
                                </span><span>p
                                </span><span>o
                                </span><span>n
                                </span><span>s
                                </span><span>i
                                </span><span>b
                                </span><span>i
                                </span><span>l
                                </span><span>i
                                </span><span>t
                                </span><span>y</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="act-4 text-center">
                    <div class="col-md-10 col-md-offset-1 act-4-container-1">
                        <div class="col-h-20">
                            <div class="vertical-center">
                                <div class="act-4-part-1">In</div>
                                <div class="act-4-part-2">One</div>
                                <div class="act-4-part-3">Image</div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-10 col-md-offset-1 act-4-container-2">
                        <div class="col-h-80">
                            <div class="vertical-center">
                                <a href="http://advertisementfeature.cnn.com/think-brilliant/the-surprising-power-of-introverts.html">
                                    <img class="img-responsive center-block" src="@routes.Assets.versioned("img/introverts_vs_extroverts.png")">
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="scene-7">
                <div class="act-1 col-md-10 col-md-offset-1 text-center">
                    <div class="col-h-80">
                        <div class="vertical-center">
                            <div class="credits">
                                This presentation was made entirely with CSS3 and JS
                                and I would like to thank the following people for being
                                either part of the inspiration in this interactive
                                quick presentation or supplied code examples to help
                                make this not only a dream inside my head but come to
                                life on the screen in front of you. Thank you for sharing
                                what you do! You are all AWESOME!
                            </div>
                        </div>
                    </div>
                    <div class="col-h-20">
                        <div class="vertical-center">
                            <div class="special-thanks">
                                <div>
                                    Dan Frantz
                                </div>
                                <div style="font-size: 300%;">
                                    Tyler Gaw
                                </div>
                                <div>
                                    Jason Dicks
                                </div>
                                <div>
                                    Damian Drygiel
                                </div>
                                <div>
                                    Daniel Riemer
                                </div>
                                <div>
                                    Daniel Eden
                                </div>
                                <div>
                                    Julien Dubois
                                </div>
                                <div>
                                    Israel Galvez
                                </div>
                                <div>
                                    Doug Avery
                                </div>
                                <div>
                                    Álvaro Trigo
                                </div>
                                <div>
                                    Michael Musgrove
                                </div>
                                <div>
                                    Joost Kiens
                                </div>
                                <div>
                                    Zachary Johnson
                                </div>
                                <div>
                                    Renan C. Araujo
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>