<div class="section">
    <div class="container-fluid animated .gtown-jobs-container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1 class="section-header">
                    Previous employments
                </h1>
            </div>
        </div>
        <div class="row top10">
            <div class="col-md-4 col-md-offset-4 col-xs-8 col-xs-offset-2">
                <a href="http://www.skf.com/">
                    <img class="img-responsive center-block" src="@routes.Assets.versioned("img/skf.png")" alt="skf-logo">
                </a>
            </div>
        </div>
        <div class="row top10">
            <div class="col-md-3 col-md-offset-3 col-sm-6 col-sm-offset-0 col-xs-8 col-xs-offset-2">
                <a href="http://www.cybercom.com/">
                    <img class="img-responsive center-block" src="@routes.Assets.versioned("img/cybercom.png")" alt="cybercom-logo">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0">
                <a href="http://www.sigma.se/">
                    <img class="img-responsive center-block" src="@routes.Assets.versioned("img/sigma.png")" alt="sigma-logo">
                </a>
            </div>
        </div>
        <div class="row top10">
            <div class="col-md-3 col-sm-6 col-sm-offset-0 col-md-offset-3 col-xs-8 col-xs-offset-2">
                <a href="http://wirelesscar.com/">
                    <img class="img-responsive center-block" src="@routes.Assets.versioned("img/wirelesscar.png")" alt="wirelesscar-logo">
                </a>
            </div>
            <div class="col-md-3 col-sm-6 col-xs-8 col-xs-offset-2 col-sm-offset-0">
                <a href="http://www.papyrus.com/">
                    <img class="img-responsive center-block" src="@routes.Assets.versioned("img/papyrus.png")" alt="papyrus-logo">
                </a>
            </div>
        </div>
    </div>
</div>
