<div id="about" class="section">
    <div class="container-fluid about-container">
        <div class="row">
            <div id="about-col-1" class="animated">
                <div class="col-md-6 col-sm-12">
                    <p>
                        My name is Gustaf and I am a software developer from Sweden.
                        I have basically spent the last two years developing web applications.
                        I have mainly focused on Java and Scala with the Spring, Java EE and
                        Play frameworks. This call for web application
                        development came during the third year of Computer Science
                        at Gothenburg University when Joachim Von Hacht presented the evolution
                        of web applications. I have since then been adapting to a full-stack
                        toolset and these website iterations are the check ups on my progress
                        and to explore new things. Currently functional reactive programming
                        using Scala has had big impact on me. I am one of the people who likes
                        AngularJS with RequireJS and testing with Karma using Mocha.
                        I run GNU|Linux systems and develop on a hardened mini-itx Gentoo machine I built
                        two years ago and on Fedora Linux (25) using Intellij on my Thinkpad X1 carbon.
                    </p>
                </div>
            </div>
            <div id="about-col-2" class="col-md-6 col-sm-6 col-xs-6 col-xs-offset-3 col-md-offset-0 animated">
                <img class="img-responsive border-1" src="@routes.Assets.versioned("img/gustaf.jpg")">
            </div>
        </div>
    </div>
</div>