<div id="gtown-java" class="section">
    <div id="gtown-java-container" class="container-fluid animated">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1 class="section-header">
                    <a href="/login">
                            GTown Java with the Spring framework
                    </a>
                </h1>
            </div>
            @guest.gtownjava()
        </div>
    </div>
</div>