<div id="gtown-scala" class="section">
    <div id="gtown-scala-container" class="container-fluid animated">
        <div class="row">
            <div class="col-md-10 col-md-offset-1 text-center">
                <h1 class="section-header">
                    <a href="/login">
                        GTown Scala with the Play Framework
                    </a>
                </h1>
            </div>
            @guest.gtownscala()
        </div>
    </div>
</div>