<section class="padding bck dark">
    <div class="row ">
        <div class="column_12 color light">
            <h1 class="text bold color theme margin-top margin-bottom">Account Manager</h1>
            <h3 class="text justify margin-bottom" ng-bind="user.email"></h3>
            <h4 class="text justify margin-bottom">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dignissimos iste adipisci deserunt officia alias quod unde nisi animi maiores ex amet commodi rerum veritatis reiciendis autem ad optio quisquam praesentium.</h4>
        </div>
    </div>
    <div class="row color light">
        <div class="column_5">
            <p>Registration Date:</p>
        </div>
        <div class="column_7">
            <p class="text normal italic" ng-bind="user.registrationDate | date:'d MMMM yyyy'"></p>
        </div>
    </div>
    <div class="row color light">
        <div class="column_5">
            <p>Referral Token:</p>
        </div>
        <div class="column_7">
            <p class="text normal italic" ng-bind="user.referToken"></p>
        </div>
    </div>
    <div class="row color light">
        <div class="column_5">
            <p>Referral Token Expiration:</p>
        </div>
        <div class="column_7">
            <p class="text normal italic" ng-bind="user.referTokenExpiration | date:'d MMMM yyyy'"></p>
        </div>
    </div>
    <div class="row color light">
        <div class="column_5">
            <p>Password:</p>
        </div>
        <div class="column_7">
            <p class="text normal italic" ng-bind="user.password"></p>
        </div>
    </div>
    <div class="row color light margin-bottom">
        <div class="column_5">
            <p>Latest Password change:</p>
        </div>
        <div class="column_7">
            <p class="text normal italic" ng-bind="user.passwordChangeDate | date:'d MMMM yyyy'"></p>
        </div>
    </div>

    <div class="row color dark">
        <div class="column_3 align center">
            <button type="button" class="button normal account control red" ng-class="{disabled: !user}" ng-disabled="!user" ng-click="openDeleteModal=true">Delete</button>
        </div>
        <div class="column_3 align center">
            <button type="button" class="button normal account control green" ng-class="{disabled: !user}" ng-click="generateToken()" ng-disabled="!user">Generate Token</button>
        </div>
        <div class="column_3 align center">
            <button type="button" class="button normal account control green" ng-class="{disabled: !user}" ng-click="openPasswordModal=true" ng-disabled="!user">New Password</button>
        </div>
        <div class="column_3 align center">
            <button type="button" class="button normal account control blue" ng-class="{disabled: !user}" ng-disabled="!user">Update</button>
        </div>
    </div>
</section>
<section class="bck light">
    <div class="row text center">
        <nav data-tuktuk="menu" class="column_12 padding text bold">
            <a href="#" class="active"><span class="icon pencil"></span>Posts<small>(100)</small></a>
            <a href="#"><span class="icon picture"></span>Pictures<small>(3)</small></a>
            <a href="#"><span class="icon comments"></span>Comments<small>(192)</small></a>
        </nav>
    </div>
</section>
<section class="margin-bottom">
    <div class="row padding-top padding-bottom">
        <div class="column_12">
            <h2 class="text bold inline">Posts</h2>
            <nav class="inline on-right">
                <a href="#" class="button secondary small "><span class="icon search"></span>Search</a>
            </nav>
            <small class="block">by <span class="text bold underline" ng-bind="user.email"></span></small>
        </div>
        <div data-tip="Hello world!" class="tip-top column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-right column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-bottom column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-left column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-top column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-right column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-bottom column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-left column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-top column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-right column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-bottom column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-left column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-top column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-right column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-bottom column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-left column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-top column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-right column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-bottom column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-left column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-top column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-right column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-bottom column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
        <div data-tip="Hello world!" class="tip-left column_3 bck light text center margin-bottom padding-top padding-bottom">dummy</div>
    </div>
</section>
<div id="change-password-modal" class="modal column_6 offset_3 bck light" ng-class="{'active': openPasswordModal}">
    <div>
        <header class="padding bck dark">
            <h4 class="text book inline color light">Change password</h4>
            <button class="transparent small on-right inline icon remove" ng-click="openPasswordModal=false"></button>
        </header>
        <article class="margin form">
            <label for="old-password">Current Password</label>
            <input id="old-password" class="margin-bottom" type="password" placeholder="Current Password" ng-model="oldPassword" required>
            <label for="new-password">Password</label>
            <input id="new-password" type="password" placeholder="New Password" ng-model="newPassword" required>
            <label for="new-password-x">Repeat Password</label>
            <input id="new-password-x" type="password" placeholder="Repeat New Password" ng-model="newPasswordX" required>
        </article>
        <footer class="padding align right">
            <div>
                <button class="button bck dark" ng-click="openPasswordModal=false">Cancel</button>
                <button class="button bck dark" ng-click="changePassword()">Submit</button>
            </div>
        </footer>
    </div>
</div>

<div id="delete-account-modal" class="modal column_6 offset_3 bck light" ng-class="{'active': openDeleteModal}">
    <div>
        <header class="padding bck dark">
            <h4 class="text book inline color light">Delete Account</h4>
            <button class="transparent small on-right inline icon remove" ng-click="openDeleteModal=false"></button>
        </header>
        <article class="margin form">
            <p class="margin-bottom">
                Once you enter your password and submit your account and all associated data will be deleted from the
                system and you will be redirected to the index page with a new session.
            </p>
            <label for="password">Current Password</label>
            <input id="password" class="margin-bottom" type="password" placeholder="Current Password" ng-model="password" required>
        </article>
        <footer class="padding align right">
            <div>
                <button class="button bck dark" ng-click="openDeleteModal=false">Cancel</button>
                <button class="button bck dark" ng-click="deleteAccount()">Submit</button>
            </div>
        </footer>
    </div>
</div>
