<section class="padding">
    <div class="row" ng-show="error">
        <div class="column_6 offset_3 text-center bck error" ng-bind="error"></div>
    </div>
    <div class="row" ng-show="posts">
        <div class="column_9 ">
            <span us-spinner="" spinner-key="spinner-1" spinner-start-active="true"></span>
            <article class="row" ng-repeat="post in posts">
                <div class="column_9 margin-bottom">
                    <h2><a href="#/blog/post/{{post.id}}" class="text bold color theme" ng-bind="post.header"></a></h2>
                    <h5>Written by <a href="#" class="text bold color theme" ng-bind="post.author"></a> on <span ng-bind="post.published | date:'d MMMM yyyy'"></span></h5>
                </div>
                <div ng-bind-html="post.body"></div>
            </article>
            <article ng-class="{hide: posts.length > 0}">
                <div class="column_9 margin-bottom">
                    <h2 class="text color dark bold margin-bottom border-bottom">No more Posts available</h2>
                    <h3>There are no more posts.</h3>
                </div>
            </article>
        </div>

        <aside class="column_3">
            <h5 class="text normal">Categories</h5>
            <nav class="margin-bottom">
                <a class="color dark nav item hvr-underline-from-center blog-category" ng-click="setCategory('News')">News</a>
                <a class="color dark nav item hvr-underline-from-center blog-category" ng-click="setCategory('Code')">Code</a>
                <a class="color dark nav item hvr-underline-from-center blog-category" ng-click="setCategory('Stocks')">Stocks</a>
                <a class="color dark nav item hvr-underline-from-center blog-category" ng-click="setCategory('Fun')">Fun</a>
            </nav>

            <div class="bck light padding color dark margin-bottom">
                <h5 class="text normal">Featured</h5>
                Welcome to the new blog section. It should be easier to filter out posts on categories now and paginate more effectively.
            </div>
        </aside>
    </div>
    <div class="row">
        <div class="column_10">
            <button type="button" class="bck dark on-left color light" ng-class="{hide: currentBlogPage === 0}" ng-click="next()">Next</button>
            <button type="button" class="bck dark on-right color light" ng-class="{hide: posts.length !== 3}" ng-click="previous()">Previous</button>
        </div>
    </div>
</section>