<section class="bck dark landing text center">
    <div class="row">
        <div class="column_10 offset_1">
            <h1><strong>Welcome</strong><span ng-model="username"></span></h1>
            <h2 class="margin-bottom">This is the all new look of the site. I dropped bootstrap and this is tuktuk!</h2>
        </div>
    </div>
    <div class="row">
        <div class="column_6 offset_3 form subscribe">
            <input id="mail" class="large" placeholder="Your email address" type="email">
            <button class="button large icon envelope color orangered"></button>
        </div>
    </div>
    <h5 class="text book">If you want a notification on new blog posts enter email above.</h5>
</section>
<section class="bck light padding text center">
    <div class="row padding-bottom">
        <div class="column_10 offset_1">
            <h1 class="text book color theme">New backend and client</h1>
            <h4>
                I have changed the backend to a Scala Play backend that's reactive, which means it is non blocking. The previous client could run completely without JS which I really liked. However it wasn't very modern so I updated it with AngularJS, RequireJS and also changed the CSS framework from bootstrap to the much leaner TukTuk that just supplies the Grid which is pretty much all I need.
            </h4>
        </div>
    </div>

    <div class="row padding-top">
        <div class="column_3">
            <h2 class="icon user"></h2>
            <h5 class="text normal"><a href="#/account">Account Management</a></h5>
            <small>On this page you will see all the data for your account, all posts you've made and comments.</small>
        </div>
        <div class="column_3">
            <h2 class="icon group"></h2>
            <h5 class="text normal"><a href="#/projects">Project Display</a></h5>
            <small>Here is a summary and some interactive demos of different projects I've been involved in both from open source and with companies.</small>
        </div>
        <div class="column_3">
            <h2 class="icon camera"></h2>
            <h5 class="text normal"><a href="#/pictures">Pictures</a></h5>
            <small>A small collections of pictures I've decided to share. Will be from all kinds of themes and may also display some cool projects.</small>
        </div>
        <div class="column_3">
            <h2 class="icon pencil"></h2>
            <h5 class="text normal"><a href="#/blog">Blog Posts</a></h5>
            <small>I might still write some small blog posts like I used to and I am going to have the full archive here. Will now also have categories.</small>
        </div>
    </div>
</section>