<section class="padding">
    <div class="row" ng-show="error">
        <div class="column_6 offset_3 text-center bck error" ng-bind="error"></div>
    </div>
    <div class="row">
        <article>
            <div class="column_12">
                <div class="column_12 margin-bottom">
                    <h2 ng-bind="post.header"></h2>
                    <h5>Written by <a href="#" class="text bold color theme" ng-bind="post.author"></a> on <span ng-bind="post.published | date:'d MMMM yyyy'"></span></h5>
                </div>
                <div ng-bind-html="post.body"></div>
            </div>
        </article>
    </div>
</section>