<section class="padding">
    <div class="row">
        <div class="column_6 offset_3 align center">
            <img class="img" src="/assets/img/construction.gif">
        </div>
    </div>
</section>