/* --- Author Damian Drygiel --- */

@sign-x: 510px;
@sign-y: 127px;
@sign-frames: 49;
@sign-duration: 2.5s;
@sign-delay: .2s;


@-webkit-keyframes sign-anim {
  to {
    background-position: 0 @sign-frames * -@sign-y;
  }
}

@-moz-keyframes sign-anim {
  to {
    background-position: 0 @sign-frames * -@sign-y;
  }
}

@keyframes sign-anim {
  to {
    background-position: 0 @sign-frames * -@sign-y;
  }
}