@import "variables";

html, body {
  background: @main-background-color;
  font-family: 'Nobile', serif !important;
  color: @dark-text-color
}

body .landing {
  padding: 6em 0;
  color: @light;
}

a {
  color: @dark-text-color;

  &:hover {
    color: orangered;
  }
}

.text-center {
  text-align: center;
}

.bck.light {
  background-color: @light;
}

.nav.item {
  color: @light;

  &:hover {
    color: orangered;
  }
}

.bck.dark {
  background-color: @dark;
}

.bck.error {
  background-color: @bck-error;
  color: @error-text;
  border: @error-border;
  border: 1px solid transparent;
  padding: .75rem 1.25rem;
}

.color.orangered {
  color: orangered;
}

.color.dark {
  color: @dark;
}

.color.light {
  color: @light;
}

.modal {
  display: none;
  position: absolute;
  top: 50%;
  z-index: 9999;
  border: 1px solid @dark-text-color;

  &.active {
    display: block;
  }
}

.button.disabled, .button[disabled], fieldset[disabled] .button {
  cursor: not-allowed;
  filter: alpha(opacity=65);
  -webkit-box-shadow: none;
  box-shadow: none;
  opacity: .65;
}

.blog-category {
  line-height: 2rem;
  cursor: pointer;
}

.hide {
  display: none;
}

.dark.border-bottom {
  border-bottom: 1px solid @dark;
}

.button.account.control {

  &.green {
    background-color: @bck-success;
    color: @success-text;
  }
  &.red {
    background-color: @bck-error;
    color: @error-text;
  }
  &.blue {
    background-color: @bck-info;
    color: @info-text;
  }
}

/* Underline From Center - https://github.com/IanLunn/Hover */
.hvr-underline-from-center {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px transparent;
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-center:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 50%;
  right: 50%;
  bottom: 0;
  background: orangered;
  height: 4px;
  -webkit-transition-property: left, right;
  transition-property: left, right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-center:hover:before, .hvr-underline-from-center:focus:before, .hvr-underline-from-center:active:before {
  left: 0;
  right: 0;
}

@media only screen and (max-width:480px) {
  .hide-min {
    display: none !important;
  }
}


@media only screen and (max-width:767px) {
  body {
    font-size:13px !important
  }
  header {
    height:auto !important;
    line-height:32px
  }
  nav button,nav .button,nav a {
    text-align:center;
    display:inline-block !important;
    margin: 0.5em !important;
    line-height:32px
  }
  nav.group a {
    border:none !important
  }
}