@import "main";
@import "animations";
@import "musgrove";
@import "drygiel";
@import "avery";

/* TODO: Refactor away ID;s. Apparently only classes should style the page! */

@intro-background: black;
@section3-text-color: #e7c5cc;
@coffee1: #593C1F;
@coffee2: #7C5852;
@coffee3: #3F2616;
@pink: #ff2d95;

@font-face {
  font-family: 'Nobile';
  src: url('/assets/fonts/nobile/nobile.eot');
  src: url('/assets/fonts/nobile/nobile-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/nobile/nobile-webfont.woff2') format('woff2'),
  url('/assets/fonts/nobile/nobile-webfont.woff') format('woff'),
  url('/assets/fonts/nobile/nobile-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Shadows Into Light';
  src: url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.eot');
  src: url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.woff2') format('woff2'),
  url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.woff') format('woff'),
  url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.ttf') format('truetype');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Across The Road';
  src: url('/assets/fonts/acrosstheroad/acrosstheroad.woff2') format('woff2'),
  url('/assets/fonts/acrosstheroad/acrosstheroad.woff') format('woff'),
  url('/assets/fonts/acrosstheroad/acrosstheroad.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Avenida';
  src: url('/assets/fonts/avenida/avenida.woff') format('woff'),
  url('/assets/fonts/avenida/avenida.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

html, body {
  background: @main-background-color;
  font-family: 'Nobile', serif !important;
  color: @dark-text-color
}

#intro {
  color: whitesmoke;
  background-color: @intro-background;
}

.scroll-arrow {
  position: absolute;
  left: 50%;
  bottom: 5px;
  width: 18px;
}

.cmd {
  background-color: @intro-background;
}

.banner {
  width: 100%;
  height: 100%;
  background-size: .2em 100%;
  font: 14.5em/1 Open Sans, Im;
}

.terminal {
  height: inherit;
  overflow-y:scroll;
  background-color: @intro-background;
  width: 100%;
}

.rabbit {
  position: absolute;
  right: 50px;
  bottom: 0px;
  width: 180px;
}

#fp-nav ul li .fp-tooltip {
  color: @text-color;
  font-family: 'Shadows Into Light', serif;
  font-size: 1em;
}

/* flip speed goes here */
.flipper {
  transition: 0.6s;
  transform-style: preserve-3d;

  position: relative;
}

/* hide back of pane during swap */
.front, .back {
  border: 1px solid @dark-background-color;
  backface-visibility: hidden;

  position: absolute;
  top: 0;
  left: 0;
}

/* front pane, placed above back */
.front {
  z-index: 2;
  /* for firefox 31 */
  transform: rotateY(0deg);
}

/* back, initially hidden pane */
.back {
  transform: rotateY(180deg);
  color: @dark-text-color;
}

.border-1 {
  border: 1px solid;
}

.about-container {
  max-width: 1000px;
  margin: auto;
  font-family: 'Shadows Into Light', serif !important;
  font-size: 1.5em;
}

.container-fluid {
  padding-right: 50px;
}

.term-container {
  height: 80%;
}

.footer {
  padding-right: 50px;
  width: 100%;
}

.end-section {
  padding-top: 0;
  padding-bottom: 0;
}

.flashing-camera {
  color: red;
  animation-iteration-count: infinite;
}

@media screen and (max-device-width: 992px) {
  .about-container {
    text-align: center !important;
  }
}

.gtown-footer-container {

}

@media screen and (min-device-width: 768px){
  .section-header {
    font-size: 5em;
  }
  .development-in-progress, .do-not-track {
    margin-top: -25px;
    height: 15%;
  }
}

@media screen and (max-device-width: 768px) {
  .section-header {
    font-size: 3em;
  }
  .gtown-footer-container {
    margin-bottom: 130px;
  }
  .rabbit {
    position: absolute;
    right: 0px;
    width: 180px;
  }
}

/* entire container, keeps perspective */
.flip-container {
  perspective: 1000px;
}

/* flip the pane when hovered */
.flip-container:hover .flipper, .flip-container.hover .flipper {
  transform: rotateY(180deg);
}

/*
  About page logos
*/

.logo {
  height: 60px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.sprite {
  object-fit: none;
  width: 77px;
  height: 40px;

  &#cloudflare { object-position: 0 0; width: 85px; }
  &#docker { object-position: 0 -50px; width: 47px; }
  &#gradle { object-position: 0 -100px; width: 125px; height: 35px; margin-top: 5px; }
  &#grunt { object-position: 0 -145px; width: 115px; }
  &#html5-css3-jquery-bootstrap { object-position: 0 -195px; width: 111px; }
  &#http2 { object-position: 0 -245px; }
  &#jade { object-position: 0 -295px; width: 101px; }
  &#jasmine { object-position: 0 -345px; width: 148px; height: 35px; margin-top: 5px; }
  &#junit { object-position: 0 -390px; width: 95px; height: 35px; margin-top: 5px; }
  &#letsencrypt { object-position: 0 -435px; width: 140px; }
  &#mockito { object-position: 0 -485px; width: 104px; }
  &#mongodb { object-position: 0 -535px; width: 136px; }
  &#npm { object-position: 0 -585px; height: 30px; margin-top: 10px; }
  &#os { object-position: 0 -625px; width: 85px; }
  &#phantomjs { object-position: 0 -675px; width: 123px; }
  &#sammyjs { object-position: 0 -725px; width: 91px; }
  &#selenium { object-position: 0 -775px; width: 46px; }
  &#springboot { object-position: 0 -825px; width: 117px; }
  &#stormpath { object-position: 0 -875px; width: 128px; height: 30px; margin-top: 10px; }
  &#undertow { object-position: 0 -915px; width: 82px; }
}

.sprite2 {
  object-fit: none;
  width: 77px;
  height: 40px;

  &#play-framework { object-position: 0 0; width: 76px; height: 39px; margin-top: 1px; }
  &#angular { object-position: 0 -40px; width: 148px; height: 38px; margin-top: 2px; }
  &#logstash { object-position: 0 -78px; width: 148px; }
  &#cockpit { object-position: 0 -120px; width: 140px; }
  &#karma { object-position: 0 -162px; width: 148px; height: 36px; margin-top: 4px; }
  &#chai-sinon { object-position: 0 -198px; width: 97px; }
  &#jenkins { object-position: 0 -239px; width: 120px; }
  &#nginx { object-position: 0 -284px; width: 148px; height: 33px; margin-top: 7px; }
  &#mariadb { object-position: 0 -316px; width: 66px; }
  &#netty { object-position: 0 -360px; width: 80px; }
  &#slick { object-position: 0 -404px; width: 125px; height: 38px; margin-top: 2px; }
  &#elastic { object-position: 0 -442px; width: 132px; }
  &#kibana { object-position: 0 -484px; width: 112px; }
  &#amazon { object-position: 0 -528px; width: 105px; }
  &#docker2 { object-position: 0 -570px; width: 140px; }
  &#atomic { object-position: 0 -604px; width: 65px; }
  &#requirejs { object-position: 0 -646px; width: 40px; }
  &#scala { object-position: 0 -686px; width: 135px; }
}

/*
  Scrollbar styling for the terminal window
*/

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background-color: @intro-background;
} /* the new scrollbar will have a flat appearance with the set background color */

::-webkit-scrollbar-thumb {
  background-color: @text-color
} /* this will style the thumb, ignoring the track */

::-webkit-scrollbar-button {
  background-color: @intro-background;
} /* optionally, you can style the top and the bottom buttons (left and right for horizontal bars) */

::-webkit-scrollbar-track {
  background-color: @intro-background;
}

::-webkit-scrollbar-track-piece {
  background-color: @intro-background;
}

::-webkit-scrollbar-corner {
  background-color: @intro-background;
} /* if both the vertical and the horizontal bars appear, then perhaps the right bottom corner also needs to be styled */


/* Typography */

.introvert-presentation-section {
  padding-top: 0px !important;
  padding-bottom: 0px !important;
  background-size:contain;
  overflow-x :hidden !important;
  overflow-y: hidden !important;
  color: @section3-text-color;
  font-family: 'Avenida', serif;
  font-size: 21rem;
  text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.75);
  background: url('/assets/img/oldfilm.png') center;
  z-index: -2;

  /* Activate hardware acceleration for smoother animations */
  -webkit-transform: translate3d(0,0,0);
  -webkit-backface-visibility: hidden;
  &::after {
    content: '';
    display: block;
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -3;
    background: -webkit-gradient(linear, left top, left bottom,
    from(rgba(130, 18, 40, 0.9)),
    to(rgba(53, 0, 10, 0.9)),
    color-stop(50%, #6a0015));
    background: -webkit-linear-gradient(top, rgba(130, 18, 40, 0.9), rgba(53, 0, 10, 0.9));
    background: -moz-linear-gradient(top, rgba(130, 18, 40, 0.9), rgba(53, 0, 10, 0.9));
    background: linear-gradient(top, rgba(130, 18, 40, 0.9), rgba(53, 0, 10, 0.9));
  }
  /*
  &::before {
    -webkit-animation: grain 5s steps(10) infinite;
    -moz-animation: grain 5s steps(10) infinite;
    -ms-animation: grain 5s steps(10) infinite;
    animation: grain 5s steps(10) infinite;
    background: url('/assets/img/noise.png');
    content: '';
    display: block;
    overflow-x :hidden !important;
    overflow-y: hidden !important;
    overflow: hidden;
    height: 300%;
    left: -100%;
    position: absolute;
    top: -100%;
    width: 300%;
    z-index: -2;
  }
  BREAKS IN FIREFIOX, GODDAMNIT firefox, you CUNT!
  */

  /*---------------------------------------- Screen limitations --------------------------------------*/

  .screen-size-info {
    font-family: 'Across The Road', serif !important;
    color: whitesmoke;
    font-size: 6rem;
    z-index: 100;
  }

  .col-h-20 {
    display: table;
    height: 20%;
    margin: auto;
  }

  .col-h-25 {
    display: table;
    height: 25%;
    margin: auto;
  }

  .col-h-33 {
    display: table;
    height: 33%;
    margin: auto;
  }

  .col-h-80 {
    display: table;
    height: 80%;
    margin: auto;
  }

  .vertical-center {
    display: table-cell;
    vertical-align: middle;
  }


  /*------------------------------------------- Stage Vignette -----------------------------------------*/

  .vignette {
    background: -webkit-gradient(radial, 540 304, 330, 540 304, 750,
    from(rgba(0, 0, 0, 0)),
    to(rgba(0, 0, 0, 1)),
    color-stop(85%, #000));
    background: -webkit-radial-gradient(center, circle cover, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.6) 100%);
    background: -moz-radial-gradient(center, circle cover, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.6) 100%);
    background: radial-gradient(center, circle cover, rgba(0, 0, 0, 0) 35%, rgba(0, 0, 0, 0.6) 100%);
    position: absolute;
    display: block;
    z-index: -1;
    top: 0;
    height: 100%;
    width: 100%;
  }

  /*------------------------------------ Alternative stage colors ----------------------------------*/

  &.brown {
    background: -webkit-gradient(linear, left top, left bottom, from(#775924), to(#312106));
    background: -webkit-linear-gradient(top, #775924, #312106);
    background: -moz-linear-gradient(top, #775924, #312106);
    background: linear-gradient(top, #775924, #312106);
  }

  &.purple {
    background: -webkit-gradient(linear, left top, left bottom, from(#6955bb), to(#201a38));
    background: -webkit-linear-gradient(top, #6955bb, #201a38);
    background: -moz-linear-gradient(top, #6955bb, #201a38);
    background: linear-gradient(top, #6955bb, #201a38);
  }

  /*---------------------------------- Play Button Circle and Triangle ---------------------------------*/

  .play {

    &:hover span, span:hover {
      opacity: 1;
      -moz-transform: scale(1);
      -webkit-transform: scale(1);
      transform: scale(1);
      -webkit-animation-play-state: paused;
      -moz-animation-play-state: paused;
      -o-animation-play-state: paused;
      animation-play-state: paused;
    }

    span {
      background: -webkit-gradient(linear, left top, left bottom,
      from(rgba(44, 44, 44, 0.8)),
      to(rgba(0, 0, 0, 0.8)),
      color-stop(70%, #000));
      background: -webkit-linear-gradient(top, rgba(44, 44, 44, 0.8), rgba(0, 0, 0, 0.8));
      background: -moz-linear-gradient(top, rgba(44, 44, 44, 0.8), rgba(0, 0, 0, 0.8));
      background: linear-gradient(top, rgba(44, 44, 44, 0.8), rgba(0, 0, 0, 0.8));
      -webkit-border-radius: 125px;
      -moz-border-radius: 125px;
      border-radius: 125px;
      border: 4px solid #bababa;
      cursor: pointer;
      display: block;
      height: 134px;
      margin: auto;
      opacity: 0.9;
      text-indent: -300em;
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      transform: scale(0.8);
      -webkit-transition: opacity 0.3s ease-out, -webkit-transform 0.15s ease-out;
      -moz-transition: opacity 0.3s ease-out, -moz-transform 0.1s ease-out;
      width: 134px;
      z-index: 9999;
      animation-name: pulse;
      animation-duration: 2s;
      animation-iteration-count: infinite;

      i {
        position: relative;
        top: 38px;
        left: 18px;
        display: block;
        width: 0px;
        height: 0px;
        border-color: transparent transparent #f2f2f2 transparent;
        border-style: solid;
        border-width: 0px 58px 58px 58px;
        -moz-transform: scaleY(0.6) rotate(90deg);
        -webkit-transform: scaleY(0.6) rotate(90deg);
        transform: scaleY(0.6) rotate(90deg);
      }
    }
  }

  /*-------------------------------------------- scenes ------------------------------------------------*/

  .scenes {

    /*-------------------------------------------- scene 1 -----------------------------------------------*/

    .scene-1 {
      display: none;
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -webkit-transition: opacity 0.1s ease, -webkit-transform 0.1s ease-out;
      -moz-transition: opacity 0.1s ease, -moz-transform 0.1s ease-out;

      &.action {
        display: block;
        opacity: 1;
        -webkit-transform: scale(1);
        -moz-transform: scale(1);
        animation: fontPop;
        animation-duration: 500ms;
        animation-iteration-count: 1;
      }

      &.hello-world span {
        display: inline-block;

        animation-duration: @duration *1s;
        animation-name: wave;
        animation-iteration-count: infinite;
        animation-direction: alternate;
      }

      &.cut {
        opacity: 0.4;
        animation: fadeOutLeft;
        animation-duration: 500ms;
        animation-iteration-count: 1;
      }
      &.exit {
        -webkit-transform: scale(0);
        -moz-transform: scale(0);
        display: none;
      }
    }

    /*-------------------------------------------- scene 2 -----------------------------------------------*/

    .scene-2 {
      display: none;

      &.action {
        display: block;
      }

      .iam-first, .iam-second {
        color: @section3-text-color;
        opacity: 0;
        &.action {
          opacity: 1;
          -webkit-transform: scale(1);
          -moz-transform: scale(1);
          animation: fontPop;
          animation-duration: 200ms;
          animation-iteration-count: 1;
        }
      }

      .i-am {
        &.cut {
          opacity: 0.4;
          animation: fadeOutLeft;
          animation-duration: 500ms;
          animation-iteration-count: 1;
        }
        &.exit {
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
        }
      }

      .signature {
        opacity: 0;
        display: inline-block;
        margin: auto;
        width: @sign-x;
        height: @sign-y;
        background: url(/assets/img/signature_frames.png) no-repeat;
        &.action {
          opacity: 1;
          -moz-animation: sign-anim @sign-duration @sign-delay steps(@sign-frames) forwards;
          -o-animation: sign-anim @sign-duration @sign-delay steps(@sign-frames) forwards;
          -webkit-animation: sign-anim @sign-duration @sign-delay steps(@sign-frames) forwards;
          animation: sign-anim @sign-duration @sign-delay steps(@sign-frames) forwards;
        }
        &.cut {
          opacity: 0.4;
          animation: fadeOutLeft;
          animation-duration: 500ms;
          animation-iteration-count: 1;
        }
        &.exit {
          -webkit-transform: scale(0);
          -moz-transform: scale(0);
        }
      }

      &.exit {
        display: none;
      }
    }

    /*-------------------------------------------- scene 3 -----------------------------------------------*/

    .scene-3 {
      display: none;
      font-size: 80%;

      &.action {
        display: block;
      }

      .act-1 {
        font-size: 90%;
        span, strong {
          opacity: 0;
        }
        &.cut {
          animation: slideOutLeft;
          animation-duration: 200ms;
          animation-iteration-count: 1;
        }
        &.exit {
          display: none;
        }

        #act-1-part-1 {
          &.action {
            opacity: 1;
            animation: slideInLeft;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-2 {
          &.action {
            opacity: 1;
            animation: slideInRight;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
          &.implode {
            font-size: 20%;
            color: @dark-text-color;
            animation: implode;
            animation-duration: 2s;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-3 {
          font-size: 80%;
          &.action {
            opacity: 1;
            animation: bounceInUp;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-4 {
          font-size: 80%;
          &.action {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            animation: bounceInRight;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-5 {
          font-size: 40%;
          &.action {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            animation: fontPop;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-6 {
          font-size: 80%;
          &.action {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            animation: fontPop;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-7 {
          font-size: 90%;
          &.action {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            animation: fontPop;
            animation-duration: 500ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-8 {
          font-size: 80%;
          &.action {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            animation: fontPop;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-9 {
          display: inline-block;
          &.action {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            animation: fontPop;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-10 {
          font-size: 40%;
          display: inline-block;
          &.action {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            animation: fontPop;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-11 {
          background: -webkit-linear-gradient(top, @coffee2, @coffee1, @coffee3);
          background: linear-gradient(top, @coffee2, @coffee1, @coffee3);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 150%;
          display: inline-block;
          &.action {
            opacity: 1;
            -webkit-transform: scale(1);
            -moz-transform: scale(1);
            animation: bounceInUp;
            animation-duration: 1s;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-12, #act-1-part-13 {
          font-size: 40%;
          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInUp;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        #act-1-part-14, #act-1-part-15, #act-1-part-16 {
          font-size: 50%;
          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInRight;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
      }

      .act-2 {
        &.cut {
          animation: slideOutLeft;
          animation-duration: 200ms;
          animation-iteration-count: 1;
        }
        &.exit {
          display: none;
        }

        .act-2-part-1, .act-2-part-3 {
          opacity: 0;

          display: inline-block;
          &.action {
            opacity: 1;
            animation: fontPop;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .act-2-part-2 {
          opacity: 0;

          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInDown;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .act-2-part-4 {
          opacity: 0;
          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInLeft;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .act-2-part-5 {
          opacity: 0;
          color: #222;
          text-shadow: 0px 1px 1px #4d4d4d;
          &.action {
            opacity: 1;
            animation: slideInUp;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .act-2-part-6 {
          opacity: 0;
          color: white;
          text-shadow: 0 0 5px white, 0 0 10px white, 0 0 15px white, 0 0 20px @pink, 0 0 30px @pink, 0 0 40px @pink, 0 0 50px @pink, 0 0 75px @pink;
          letter-spacing: 5px;
          font-size: 90%;
          &.action {
            opacity: 1;
            animation: slideInUp;
            animation-duration: 300ms;
            animation-iteration-count: 1;
          }
        }
      }

      .act-3 {
        display: none;
        &.action {
          display: block;
        }
        &.cut {
          animation: slideOutLeft;
          animation-duration: 200ms;
          animation-iteration-count: 1;
        }
        &.exit {
          display: none;
        }
        .act-3-part-1 {
          opacity: 0;

          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInLeft;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .act-3-part-2 {
          opacity: 0;

          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInLeft;
            animation-duration: 200ms;
            animation-iteration-count: 1;

            &.shine {
              width: 700px;
              margin-left: -190px;
              display: inline-block;
              background: @dark-text-color -webkit-gradient(linear, left top, right top, from(@dark-text-color), to(@dark-text-color), color-stop(0.2, white)) 0 0 no-repeat;
              background-size: 200px 700px;
              -webkit-background-size: 200px;

              color: rgba(255, 255, 255, 0.1);
              -webkit-background-clip: text;

              animation: shine;
              animation-duration: 3s;
              animation-iteration-count: infinite;
            }
          }
        }

        .act-3-part-3 {
          margin-left: -200px;
          opacity: 0;

          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInDown;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }

        .act-3-part-6 {
          opacity: 0;
          display: inline-block;

          &.action {
            opacity: 1;
            animation: fadeIn;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }

        .act-3-part-4, .act-3-part-5, .act-3-part-7 {
          opacity: 0;
          font-size: 50%;
          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInLeft;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .act-3-part-8 {
          opacity: 0;
          display: inline-block;

          &.action {
            opacity: 1;
            animation: slideInLeft;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }

        .act-3-part-9 {
          opacity: 0;
          display: inline-block;

          &.action {
            opacity: 1;
            animation: slideInRight;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }

        .act-3-part-10 {
          display: inline-block;

          span {
            opacity: 0;

            &.action {
              opacity: 1;
              animation: fadeIn;
              animation-duration: 200ms;
              animation-iteration-count: 1;
            }
          }
        }

        .act-3-container-1 {
          //transform: rotate(-90deg);
          //margin-top: 107px;
          // margin-right: 700px;
        }
        .act-3-container-2 {
          //margin-top: -738px;
          //margin-left: 200px;
        }
      }

      .act-4 {
        &.cut {
          animation: slideOutLeft;
          animation-duration: 200ms;
          animation-iteration-count: 1;
        }
        &.exit {
          display: none;
        }

        .act-4-part-1 {
          opacity: 0;
          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInRight;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .act-4-part-2 {
          opacity: 0;
          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInDown;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .act-4-part-3 {
          opacity: 0;
          display: inline-block;
          &.action {
            opacity: 1;
            animation: slideInLeft;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .act-4-container-2 {
          opacity: 0;

          &.action {
            opacity: 1;
            animation: slideInUp;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
      }
      &.exit {
        display: none;
      }
    }

    /*-------------------------------------------- scene 7 -----------------------------------------------*/

    .scene-7 {
      display: none;

      &.action {
        display: block;
      }

      .act-1 {
        font-size: 30%;
        .credits {
          opacity: 0;
          white-space: normal;
          &.action {
            opacity: 1;
            animation: fadeIn;
            animation-duration: 200ms;
            animation-iteration-count: 1;
          }
        }
        .special-thanks {
          div {
            opacity: 0;
            display: none;
            font-size: 200%;
            &.action {
              display: inline-block;
              opacity: 1;
              animation: fadeInRight;
              animation-duration: 500ms;
              animation-iteration-count: 1;
            }
            &.cut {
              opacity: 0;
              animation: fadeOutLeft;
              animation-duration: 500ms;
              animation-iteration-count: 1;
            }
            &.exit {
              display: none;
            }
          }
        }
      }

      &.exit {
        display: none;
      }
    }
  }
}

/*------------------------------------------ Media Queries -----------------------------------------*/


@media screen and (max-device-height: 900px) {
  .introvert-presentation-section {
    font-size: 15rem;
  }
}

@media screen and (max-device-height: 500px) {
  .introvert-presentation-section {
    font-size: 10rem;
  }
}


/*-------------------------------------------- scene 1 -----------------------------------------------*/

@iterations: 10;
@duration: 0.3;


.mixin-loop (@i) when (@i > 0) {
  .introvert-presentation-section .scenes .scene-1 :nth-child(@{iterations}n + @{i}) {
    animation-delay : -((@iterations - @i) * 2 * @duration / @iterations) * 1s;
  }
  .mixin-loop(@i - 1);
}

.mixin-loop(@iterations);

.coffee-mug {
  background: @coffee3;
  position: relative;
  display: inline-block;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  margin-bottom: 28px;
  /* the following box-shadow values are going to create the coffee mug, a coffee ring, and some coffee splatters (our mug is a little leaky) */
  box-shadow: 0 0 0 5px #442918,
  0 0 0 20px #3C2415,
  0 0 0 25px #E4E6B2,
  0 0 0 32.5px #EFF0D1,
  15px 70px 0 -25px @coffee3,
  60px 40px 0 -25px @coffee3,
  40px 60px 0 -15px @coffee3;
  @media screen and (max-device-height: 900px) {
    margin-bottom: 0;
  }
}

.coffee-mug::before{
  content: '';
  position: absolute;
  background: #EFF0D1;
  height: 45px;
  width: 35px;
  top: -45px;
  right: -40px;
  border-radius: 5px;
  box-shadow: inset 0px 50px 0 0px #EFF0D1;
  /* transform lets us rotate the handle on an angle */
  transform: rotate(45deg);
}

/* that coffee could look a little more realistic. let's add a simple ripple effect */
.coffee-mug::after{
  content: '';
  width: 10px;
  height: 10px;
  border-radius: 50%;
  position: absolute;
  border: 3px solid #77665C;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 0;
  bottom: 0;
  margin-top: auto;
  margin-bottom: auto;
  opacity: 0.2;
  /* a little bit of animation */
  animation: rings 1s ease-out infinite;
}

@keyframes rings{
  to{
    width: 70px;
    height: 70px;
    opacity: 0;
  }
}

/* ---------------------- Custom animations for animation.less ------------------------- */

@-webkit-keyframes fontPop {
  from {
    font-size: 0;
  }
  to {
    font-size: 100%;
  }
}

@-moz-keyframes fontPop {
  from {
    font-size: 0;
  }
  to {
    font-size: 100%;
  }
}

@keyframes fontPop {
  from {
    font-size: 0;
  }
  to {
    font-size: 100%;
  }
}

@-webkit-keyframes implode {
  from {
    font-size: 100%;
    color: @section3-text-color;
  }
  to {
    font-size: 20%;
    color: @dark-text-color;
  }
}

@-moz-keyframes implode {
  from {
    font-size: 100%;
    color: @section3-text-color;
  }
  to {
    font-size: 20%;
    color: @dark-text-color;
  }
}

@keyframes implode {
  from {
    font-size: 100%;
    color: @section3-text-color;
  }
  to {
    font-size: 20%;
    color: @dark-text-color;
  }
}

@-webkit-keyframes wave {
  from { transform : translateY(0); }
  to   { transform : translateY( 30px ); }
}

@-moz-keyframes wave {
  from { transform : translateY(0); }
  to   { transform : translateY( 30px ); }
}

@keyframes wave {
  from { transform : translateY(0); }
  to   { transform : translateY( 30px ); }
}

@-webkit-keyframes rollingBackground {
  0% { background-position: 0 50%; }
  100% { background-position: 100% 50%; }
}

@-moz-keyframes rollingBackground {
  0% { background-position: 0 50%; }
  100% { background-position: 100% 50%; }
}

@keyframes rollingBackground {
  0% { background-position: 0 50%; }
  100% { background-position: 100% 50%; }
}

@-webkit-keyframes shine {
  0% { background-position: top left; }
  100% { background-position: top right; }
}

@-moz-keyframes shine {
  0% { background-position: top left; }
  100% { background-position: top right; }
}

@keyframes shine {
  0% { background-position: top left; }
  100% { background-position: top right; }
}

// transform: rotate(-90deg);