@import "main";

@font-face {
  font-family: 'Shadows Into Light';
  src: url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.eot');
  src: url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.eot?#iefix') format('embedded-opentype'),
  url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.woff2') format('woff2'),
  url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.woff') format('woff'),
  url('/assets/fonts/shadowsintolight/shadowsintolight-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
}

@media screen and (max-device-width: 800px) {
  html {
    background: url(/assets/img/gtown.png) transparent no-repeat center center fixed;
  }
  body {
    background-color: transparent;
    height: inherit;
    width: inherit;
  }
  #bgvid {
    display: none;
  }
}

pre {
  background-color: @dark-background-color;
  color: whitesmoke;
}

#registration {
  margin-top: 30px;
}

#registration-line {
  border-top: 1px solid @main-background-color;
}

#new-here {
}

#gtown-badge {
  width: 335px;
  margin: auto;
}


.slider-text {
  color: whitesmoke !important;
  font-family: 'Shadows Into Light', serif !important;
  text-shadow: 1px 1px 1px #999 !important;
  font-size: large;
  font-weight: bold;
  letter-spacing: .2em;
}

.description {
  margin: 0 0 10px;
  font-size: large;
  font-weight: bold;
  letter-spacing: .2em;
}

#login {
  color: whitesmoke;
  display: table-cell;
  vertical-align: middle;
}

#login-container {
  display: table;
  height: inherit;
  width: 100%;
}

video#bgvid {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  -ms-transform: translateX(-50%) translateY(-50%);
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  background: url(/assets/img/gtown.png) no-repeat;
  background-size: cover;
}
