@import "variables";

.top5 {
  magin-top: 5px;
}

.top10 {
  margin-top: 10px;
}

.curl {
  width:120px;
  height:120px;
  position: absolute;
  top:0;
  left:0;
  z-index: 2;
  background:
          linear-gradient(
                  135deg,
                  transparent 0%,
                  transparent 0%,
                  transparent 50%,
                  #aaa 50%,
                  #bbb 56%,
                  #ccc 62%,
                  #f3f3f3 80%,
                  #fff 100%
          ), url('/assets/img/curl-background.png') no-repeat;
  box-shadow : 0 0 10px rgba(0, 0, 0, .5);
  transition: all .5s ease;

  -moz-animation-name: rolldown;
  -moz-animation-iteration-count: 1;
  -moz-animation-timing-function: ease-in;
  -moz-animation-duration: 1s;

  -webkit-animation-name: rolldown;
  -webkit-animation-iteration-count: 1;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-duration: 1s;

  animation-name: rolldown;
  animation-iteration-count: 1;
  animation-timing-function: ease-in;
  animation-duration: 1s;
}

@-moz-keyframes rolldown {
  0% {
    width: 0;
    height: 0;

  }
  100% {
    width:120px;
    height:120px;
  }
}
@-webkit-keyframes rolldown {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width:120px;
    height:120px;
  }
}
@keyframes rolldown {
  0% {
    width: 0;
    height: 0;
  }
  100% {
    width:120px;
    height:120px;
  }
}

.curl:hover {
  width: 190px;
  height: 190px;
}
.curl:hover:before,
.curl:hover:after {
  box-shadow: 0 24px 30px rgba(0, 0, 0, .3);
}

.se-pre-con {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  z-index: 9999;
  background: url(/assets/img/gangnam.gif) center no-repeat black;
}

@keyframes pulse {
  0% { transform: scale(1.0); }
  50%  { transform: scale(1.1); }
  100% { transform: scale(1.0); }
}

.pulse {
  animation-name: pulse;
  animation-duration: 2s;
  animation-iteration-count: infinite;
}