@main-background-color: #CCC;
@dark-background-color: #0A0A0A;
@dark-text-color: #0A0A0A;
@text-color: #333;
@coffee1: #593C1F;
@coffee2: #7C5852;
@coffee3: #3F2616;
@pink: #ff2d95;
@dark: #222;
@light: #ddd;

@bck-error: #f2dede;
@error-text: #a94442;
@error-border: #ebcccc;

@bck-info: #d9edf7;
@info-text: #31708f;
@info-border: #bcdff1;

@bck-success: #dff0d8;
@success-text: #3c763d;
@success-border: #d0e9c6;