<noscript>
    <div id="noscript" style="display: table; height: 100%; width: 100%; margin-top: -200px; color: whitesmoke">
        <div class="text-center" style="display: table-cell; vertical-align: middle;">
            <h1>GTown</h1>
            <h3>Javascript needed to visit the site!</h3>
        </div>
    </div>
</noscript>